{% extends "base.html" %} {% load django_bootstrap5 %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h2 class="card-title text-center mb-4 text-primary">
          Add a new recipe {% if category %} to {{ category.name }}{% endif %}
        </h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {% bootstrap_form form layout='vertical' %}
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-danger">Save Recipe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
