{% extends "base.html" %} {% block content %}
<h1>Hello World</h1>
<h2>Foodie - Discover delicious recipes and culinary inspiration.</h2>
<h1><a href="{% url 'recipes:recipes' %}"> Recipes </a></h1>
<h3>Categories</h3>
<a href="{% url 'foodie_app:add_category' %}">Add Category</a>
<div>
  {% for category in categories %}
  <div>
    <!-- either {{ category }} or {{ category.name }} works if Category.__str__ returns name -->
    <h4>
      <a href="{% url 'foodie_app:recipes' category.id %}"> {{ category }} </a>
    </h4>
  </div>
  {% endfor %}
</div>

{% endblock content %}
