<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Foodie - Discover delicious recipes and culinary inspiration."
    />
    <meta
      name="keywords"
      content="food, recipes, cooking, culinary, foodie, meals, cuisine"
    />
    <title>My Site</title>
  </head>
  <body>
    <header>
      <h1><a href="{% url 'foodie_app:index' %}"> Foodie </a></h1>
      <li>
        <a href="{% url 'foodie_app:add_recipe_no_genre' %}">Add Recipe</a>
      </li>
      <li>
        <a href="{% url 'foodie_app:add_category' %}">Add Category</a>
      </li>
    </header>

    <main>{% block content %}{% endblock content %}</main>
    <footer>
      <hr />
      <pre>Footer</pre>
    </footer>
  </body>
</html>
