<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Foodie - Discover delicious recipes and culinary inspiration."
    />
    <meta
      name="keywords"
      content="food, recipes, cooking, culinary, foodie, meals, cuisine"
    />
    <title>My Site</title>
  </head>
  <body>
    <header>
      <h1><a href="{% url 'foodie_app:index' %}"> Foodie </a></h1>
      <ul>
        {% if user.is_authenticated %} Hello, {{ user.username }}
        <li>
          <a href="{% url 'foodie_app:add_recipe_no_genre' %}">Add Recipe</a>
        </li>
        <li>
          <a href="{% url 'foodie_app:add_category' %}">Add Category</a>
        </li>
        <!-- Show logout form -->
        <form method="post" action="{% url 'accounts:logout' %}">
          {% csrf_token %} <button type="submit">Logout</button>
        </form>
        {% else %}
        <li><a href="{% url 'accounts:register' %}">Register</a></li>
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </header>

    <main>{% block content %}{% endblock content %}</main>
    <footer>
      <hr />
      <pre>Footer</pre>
    </footer>
  </body>
</html>
